* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1366px;
  margin-inline: auto;
  padding-inline: 24px;
}

:root {
  --color-bg: #16181d;

  --color-red: #e36468;
  --color-purple: #bb72e9;
  --color-blue: #3996db;
  --color-green: #82bc4f;
  --color--yellow: #eabd5f;

  --color-gray-100: #e2e4e9;
  --color-gray-200: #c0c4ce;
  --color-gray-300: #878ea1;
  --color-gray-400: #292c34;
  --color-gray-500: #16181d;
  --color-gray-600: #0d0e11;

  --font-family-title: Asap, sans-serif;
  --font-family-subtitle: Inconsolata, sans-serif;
  --font-family-text: Maven Pro, sans-serif;

  --text-title-lg: 700 56px/120% var(--font-family-title);
  --text-title-md: 700 24px/120% var(--font-family-title);
  --text-title-sm: 700 16px/120% var(--font-family-title);

  --text-subtitle: 400 20px/120% var(--font-family-subtitle);

  --text-md: 400 16px/140% var(--font-family-text);
  --text-sm: 400 14px/140% var(--font-family-text);
}

body {
  background-color: var(--color-bg);
  text-align: center;
}

ul {
  list-style: none;
}

h1 {
  font: var(--text-title-lg);
  color: var(--color-gray-100);
}

h2 {
  font: var(--text-subtitle);
  color: var(--color-gray-200);
  padding-bottom: 8px;
}

h2 span {
  color: var(--color-red);
}
