main {
  background-image: url(../assets/images/background/Background_Intro.png);
  background-repeat: no-repeat;
  height: 750px;
  background-size: contain;
}

.intro {
  padding-top: 120px;
  max-width: 1040px;
  margin-inline: auto;
}

.inner-intro {
  max-width: 680px;
  margin-inline: auto;
}

.avatar {
  position: relative;
  margin: 8px;
  padding-bottom: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-icon {
  position: absolute;
  top: 45%;
  left: 52.5%;
  max-width: 32px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 2px solid var(--color-red);
}

.circle img {
  width: 87.27px;
  height: 87.27px;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

h1 {
  margin-bottom: 20px;
}

p {
  font: var(--text-sm);
  color: var(--color-gray-300);
}

.hard-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  gap: 16px;
}

.hard-skills li {
  padding: 8px 16px;
  font: var(--text-md);
  color: var(--color-gray-200);
  background-color: var(--color-gray-400);
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.hard-skills li img {
  width: 18px;
  height: 18px;
}

.arrow-down {
  margin-top: 94px;
}

.arrow-down img {
  height: 32px;
}
