.my-work {
  padding: 72px 24px 144px 24px;
}

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: auto;
  padding-top: 56px;
  max-width: 1040px;
  gap: 24px;
}

.card {
  max-width: 330px;
  height: 280px;
  text-align: left;
  background-color: var(--color-gray-400);
  padding: 12px 12px 17px 12px;
  border-radius: 12px;
  border: 1.5px solid var(--color-bg);
  cursor: pointer;
}

.card:hover {
  border: 1.5px solid var(--color-gray-300);
  cursor: pointer;
}

.card img {
  border-radius: 8px;
  max-width: 304.5px;
}

.card h4 {
  padding-block: 24px 8px;
}

.card p {
  color: var(--color-gray-200);
}

.my-services {
  background-color: var(--color-gray-600);
  padding: 88px 24px 120px 24px;
}

.services {
  padding-top: 56px;
  display: flex;
  justify-content: center;
  max-width: 888px;
  gap: 24px;
  margin-inline: auto;
}

.card-service {
  border: 2px solid var(--color-gray-500);
  width: 280px;
  padding: 20px;
  height: 162px;
  border-radius: 12px;
  text-align: left;
}

.card-service p {
  padding-top: 8px;
  color: var(--color-gray-200);
}

.card-service img {
  width: 48px;
  padding-bottom: 20px;
}

section:nth-of-type(3) {
  background-image: url(../assets/images/background/Background_Contacts.png);
  height: 787px;
  background-repeat: no-repeat;
  padding-top: 128px;
  background-size: contain;
}

section:nth-of-type(3) h3 {
  padding-bottom: 8px;
}

section:nth-of-type(3) p {
  font: var(--text-md);
  color: var(--color-gray-200);
}

.networks {
  max-width: 400px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  gap: 16px;
}

.button {
  padding: 20px;
  background-color: var(--color-gray-400);
  border-radius: 8px;
  display: flex;
  align-items: center;
  border: 1.5px solid var(--color-gray-400);
}

.button p {
  margin: 0;
  padding: 0;
  margin-left: 12px;
}

.button img:last-of-type {
  margin-left: auto;
  width: 14px;
  height: 14px;
}

.button:hover {
  border: 1.5px solid var(--color-blue);
}

.button:hover img {
  filter: brightness(0) saturate(100%) invert(58%) sepia(21%) saturate(3069%) hue-rotate(177deg) brightness(91%)
    contrast(92%);
}
